<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--########### 配置http请求拦截规则 ###########-->
    <!-- 配置哪些请求URL不需要拦截(不需要登录就能访问) -->
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/*.html" security="none"/>
    <security:http pattern="/seller/save" security="none"/>

    <!-- 配置剩余的请求URL都需要登录才能访问(角色) -->
    <security:http>
        <!-- SpEL:  hasRole('ADMIN') ROLE_* -->
        <security:intercept-url pattern="/**" access="hasRole('SELLER')"/>
        <!-- 配置表单登录
            login-page: 登录页面
            login-processing-url: 登录处理的请求地址
            username-parameter: 用户名参数
            password-parameter: 密码参数
            authentication-success-forward-url: 登录成功后，需要请求转发的页面
            authentication-failure-forward-url: 登录失败后，需要请求转发的页面

            登录成功后，重定向的页面:
            default-target-url="/admin/index.html"
            always-use-default-target="true"

            authentication-failure-url: 登录失败后，需要重定向的页面
        -->
        <security:form-login login-page="/shoplogin.html"

                             default-target-url="/admin/index.html"
                             always-use-default-target="true"

                             authentication-failure-url="/shoplogin.html"/>
        <!-- 关闭CSRF 跨站点请求伪造 -->
        <security:csrf disabled="true"/>

        <!-- /admin/index.html页面包含了 <iframe/> 子窗口  -->
        <security:headers>
            <!-- 配置iframe在相同域名下是可以访问的 SAMEORIGIN same origin -->
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!-- 配置用户退出 -->
        <security:logout logout-url="/logout" invalidate-session="true"/>
    </security:http>



    <!--########### 配置身份认证管理器 ###########-->
    <security:authentication-manager>
        <!-- 配置认证提供者 -->
        <security:authentication-provider user-service-ref="userDetailsService">
            <!-- 配置密码加密 -->
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- 配置加密加密对象 -->
    <bean id="passwordEncoder"
          class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- 当前应用名称 -->
    <dubbo:application name="pinyougou-shop-web"/>
    <!-- 配置注册中心，发现服务地址 -->
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>
    <!-- 配置SellerService服务接口代理对象 -->
    <dubbo:reference id="sellerService" interface="com.pinyougou.service.SellerService"/>

    <!-- 配置自定义的用户服务认证类 -->
    <bean id="userDetailsService" class="com.pinyougou.shop.service.UserDetailsServiceImpl">
        <property name="sellerService" ref="sellerService"/>
    </bean>

</beans>